{% extends "layout.html" %}
{% block title %}Create Relation{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
Create a Relation
{% endblock %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}!
  </div>
{% elif success %}
<div class="alert alert-success" role="alert">
    {{ success }}!
  </div>
{% endif %}

<form name="input" method="POST" data-ajax="false" onSubmit="validateForm(this)">

<label for="radioRow">Relation:</label>
<div class="row px-3 pb-1" id="radioRow"> 
  <div class="form-check form-check-inline col">
      <input class="form-check-input" type="radio" name="radio" id="supportRadio" value="option1" onclick="selectRadio('supportRadio', 'Supports')">
      <label class="form-check-label" for="supportRadio">Supports</label>
  </div>
<div class="form-check form-check-inline col">
    <input class="form-check-input" type="radio" name="radio" id="opposeRadio" value="option2" onclick="selectRadio('opposeRadio', 'Opposes')">
    <label class="form-check-label" for="opposeRadio">Opposes</label>
</div>
<div class="form-check form-check-inline col">
  <input class="form-check-input" type="radio" name="radio" id="complementRadio" value="option3" onclick="selectRadio('complementRadio', 'Complements')">
  <label class="form-check-label" for="complementRadio">Complements</label>
</div>
<div class="form-check form-check-inline col">
  <input class="form-check-input" type="radio" name="radio" id="customRadio" value="option4" onclick="selectRadio('customRadio', '')" checked>
  <label class="form-check-label" for="customRadio">Custom</label>
</div>
</div> 

<input type="text" class="form-control" id="relation" name="relation" title="Name this relation" placeholder="Name this relation" value="{{ request.form['relation'] }}" required><br>

<label for="node1">From:</label><br>
<input type="number" class="form-control" id="node1" name="node1" title="Enter the ID" value="{{ request.form['node1'] }}"  placeholder="Enter the ID of the first element" required><br>
<label for="node2">To:</label><br>
<input type="number" class="form-control" id="node2" name="node2" title="Enter the ID" value="{{ request.form['node2'] }}"  placeholder="Enter the ID of the second element" required><br>
<div class="d-grid gap-2 mt-2">
  <input type="submit" value="Create" class="btn text-light" style="background-color: #376E70;">
  </div>
  </form>
{% endblock %}