{% extends "layout.html" %}
{% block title %}Make Argument{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
Make an Argument
{% endblock %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}!
  </div>
{% elif success %}
<div class="alert alert-success" role="alert">
    {{ success }}!
  </div>
{% endif %}

<form name="input" method="POST" data-ajax="false" onSubmit="validateForm(this)">
<label for="argument">Argument:</label><br>
<textarea type="text" class="form-control" id="argument" name="argument" title="Enter Argument" placeholder="Enter your argument" required>{{ request.form['argument'] }}</textarea><br>

<p>
  <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    + Connect to an element
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">

    <label for="elementID">Element ID:</label>
    {% if element %}
      <input type="number" class="form-control" id="elementID" name="elementID" title="Enter an element ID" placeholder="Enter an element ID" value="{{ element }}"><br>
      <script>
      const textBox = document.getElementById("elementID");
      textBox.readOnly = true; 
      $(document).ready(function(){
      $(".collapse").collapse('show');
      });
      </script>
    {% else %}
    <input type="number" class="form-control" id="elementID" name="elementID" title="Enter an element ID" placeholder="Enter the element ID" value="{{ request.form['elementID'] }}" ><br>
    {% endif %}
    <label for="radioRow">Relation:</label>
    <div class="row px-3 pb-1" id="radioRow"> 
      <div class="form-check form-check-inline col">
          <input class="form-check-input" type="radio" name="radio" id="supportRadio" value="option1" onclick="selectRadio('supportRadio', 'Supports')">
          <label class="form-check-label" for="supportRadio">Supports</label>
      </div>
    <div class="form-check form-check-inline col">
        <input class="form-check-input" type="radio" name="radio" id="opposeRadio" value="option2" onclick="selectRadio('opposeRadio', 'Opposes')">
        <label class="form-check-label" for="opposeRadio">Opposes</label>
    </div>
    <div class="form-check form-check-inline col">
      <input class="form-check-input" type="radio" name="radio" id="complementRadio" value="option3" onclick="selectRadio('complementRadio', 'Complements')">
      <label class="form-check-label" for="complementRadio">Complements</label>
  </div>
  <div class="form-check form-check-inline col">
      <input class="form-check-input" type="radio" name="radio" id="customRadio" value="option4" onclick="selectRadio('customRadio', '')" checked>
      <label class="form-check-label" for="customRadio">Custom</label>
  </div>
</div> 

    <input type="text" class="form-control" id="relation" name="relation" title="Enter the relation" placeholder="Enter the relation" value="{{ request.form['relation'] }}" ><br>

  </div>
</div>

<div class="d-grid gap-2 mt-2">
  <input type="submit" value="Create" class="btn btn-primary">
</div>

  </form>
{% endblock %}