{% extends "layout.html" %}
{% block title %}Take Position{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
Take a Position
{% endblock %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}!
  </div>
{% elif success %}
<div class="alert alert-success" role="alert">
    {{ success }}!
  </div>
{% endif %}


<form name="input" method="POST" data-ajax="false" onSubmit="validateForm(this)">
<label for="position">Position:</label><br>
<input type="text" class="form-control" id="position" name="position" title="Enter a position" placeholder="Enter a position" value="{{ request.form['position'] }}" required><br>
<label for="issueID">issue ID:</label><br>
{% if issue %}
<input type="number" class="form-control" id="issueID" name="issueID" title="Enter an issueID" placeholder="Enter an issueID" value="{{ issue }}" required>
<script>
  const textBox = document.getElementById("issueID");
  textBox.readOnly = true; 
</script>
{% else %}
<input type="number" class="form-control" id="issueID" name="issueID" title="Enter an issueID" placeholder="Enter an issueID" value="{{ request.form['issueID'] }}" required>
{% endif %}

<div class="form-check my-3">
  <input class="form-check-input" type="checkbox" name="anonymous" id="anonymous">
  <label class="form-check-label" for="anonymous">
    Create this position anonymously
  </label>
</div>
<div class="d-grid gap-2 mt-2">
    <input type="submit" value="Create" class="btn btn-primary">
  </div>
  </form>
{% endblock %}