{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block header %}
Topics
{% endblock %}
{% block content %}

{% if error %}
<div class="alert text-light" role="alert" style="background-color: #DB7A93;">
    {{ error }}!
  </div>
{% else %}
{% for issue in issues %}
<div class="card" style="border-color: #DB7A93;">
  <div class="card-header bg-transparent" style="height: 3.2rem; border-color: #DB7A93;" >
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-transparent border-0">Topic ID:</span>
      </div>
      <input type="text" class="form-control bg-transparent border-0" id="{{ issue.id }}" value='{{ issue.id }}' readonly>

      {% if issue['rateSum'] %}
      <i class="far fa-star mt-2" style="color:#FFC700 ;"></i>
      <input type="text" class="form-control bg-transparent border-0"  value="{{ ['%0.2f'| format(issue['rateSum']/issue['ratesNo']|float), '/', 5, ' ','(', issue['ratesNo'], ')']|join}}" readonly>
      {%endif%}

      <div class="input-group-prepend">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>

      <div class="input-group-append ">
        <button type="button" class="btn btn-sm" style="border: 1px solid #DB7A93;" onclick=copyToClipboard({{ issue.id|safe }});>Copy ID</button>
      </div>
    </div>
  </div>
    <div class="card-body" style="background-color: #DB7A93;">
    <a class="card-text text-light" href="{{ url_for('Arguments.showPositions',issueID = issue.id) }}">{{ issue['title']  }}</a>
  </div>
  <div class="card-footer bg-transparent" style="border-color: #DB7A93;">
    <small class="text-muted"> Created on {{ issue['date'] }} by {{issue['author']}}
      <i class="far fa-star mt-2" style="color:#376E70 ;"></i>
      <a style="color: #376E70" authorUsername="{{issue['author']}}" class='getRep' >(See {{issue['author']}}'s reputation)</a>
    </small>
  </div>
</div>
{% if not loop.last %}
  <hr style="color: #376E70; height: 1pt;">
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}