{% extends "layout.html" %}
{% block title %}Show Positions{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}

<div class="card" style="width: 22rem; border-color: #376E70;">
  <div class="card-header text-light" style="background-color: #376E70;" >
    Topic
    {% if issue['rateSum'] %}
    <i class="far fa-star fs-6 d-flex justify-content-center" style="color:#FFC700 ;"> {{ ['%0.2f'| format(issue['rateSum']/issue['ratesNo']|float), '/', 5, ' ','(', issue['ratesNo'], ')']|join}}</i>
  {% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title text-dark">{{issue['title']}}</h5>
    <a href="{{ url_for('Arguments.createPosition', issue = issue.id ) }}" class="btn text-light" style="background-color: #376E70;">Take a new position</a>
  
  

    <!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Rate this
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {% if userRate %}
        <h5 class="modal-title" id="exampleModalLabel">Your rating: {% for i in range(userRate) %} <i class="far fa-star mt-2" style="color:#FFC700 ;"></i> {% endfor %}</h5>
        {% else %}
        <h5 class="modal-title" id="exampleModalLabel">Rate this element</h5>
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="rate" action="{{url_for('Arguments.rate')}}" method="POST">
          {% if userRate %}
          <span class="fs-4" style="color: #DB7A93;">Change your rating:&nbsp; </span>
          {% endif %}
          <input type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
      
        <input type="hidden" name="elementID" value="{{issue.id}}">
      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" value="Rate" class="btn btn-warning" >
      </form>

      </div>
    </div>
  </div>
</div>

  
  </div>
</div>

{% endblock %}
{% block content %}
{% if error %}
<div class="alert text-light" role="alert" style="background-color: #DB7A93;">
    {{ error }}!
  </div>
{% else %}

<p class="h4" ><span style="color: #DB7A93;">Position(s)</span>  taken on this Topic:</p>
{% for position in positions %}
<div class="card" style="border-color: #DB7A93;">
  <div class="card-header bg-transparent" style="height: 3.2rem; border-color: #DB7A93;">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-transparent border-0">Position ID:</span>
      </div>
      <input type="text" class="form-control bg-transparent border-0" id="{{ position['id'] }}" value='{{ position["id"] }}' readonly>
      
      {% if position['rateSum'] %}
      <i class="far fa-star mt-2" style="color:#FFC700 ;"></i>
      <input type="text" class="form-control bg-transparent border-0" value="{{ ['%0.2f'| format(position['rateSum']/position['ratesNo']|float), '/', 5, ' ','(', position['ratesNo'], ')']|join}}" readonly>
      {%endif%}

      <div class="input-group-prepend">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>

      <div class="input-group-append">
        <button type="button" class="btn btn-sm" style="border: 1px solid #DB7A93;" onclick=copyToClipboard({{ position['id']|safe }});>Copy ID</button>
      </div>
    </div>
  </div>
    <div class="card-body" style="background-color: #DB7A93;">
    <a href="{{ url_for('Arguments.showArguments', elementID = position['id'] ) }}" class="card-text text-light">{{ position['title']  }}</a>
  </div>
  <div class="card-footer bg-transparent" style="border-color: #DB7A93;">
    <small class="text-muted"> Created on {{ position['date'] }} by {{position['author']}}</small>
  </div>
</div>
{% if not loop.last %}
  <hr style="color: #376E70; height: 1pt;">
{% endif %}
{% endfor %}

{% endif %}

{% endblock %}