{% extends "layout.html" %}
{% block title %}Show Arguments{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}


<div class="card" style="width: 22rem; border-color: #376E70;">
  <div class="card-header text-light" style="background-color: #376E70;" >
    {% for label in element.labels %}
    {{label}}
    {% endfor %}
</div>
  <div class="card-body">
    <h5 class="card-title text-dark">{{element['title']}}</h5>
    <a href="{{ url_for('Arguments.createArgument', element = element.id ) }}" class="btn text-light" style="background-color: #376E70;">Make a new argument</a>
  </div>
</div>

{% endblock %}

{% block content %}

{% set elementLabel = []%}
{% for label in element.labels %}
{{ elementLabel.append(label) or "" }}
{% endfor %}

{% set relations = [] %}
{% for argument in arguments %}
{% if argument['relation'] not in relations %}
{{ relations.append(argument['relation']) or "" }}
{% endif %}
{% endfor %}



{% if "Supports" not in relations %}
<div class="alert alert-dismissible fade show" role="alert" style="border-color: #376E70;">
  <a href="{{ url_for('Arguments.createArgument', element = element.id, rel='Supports' ) }}" style="color: #376E70;" > <i class="far fa-plus-square"></i> Be the first to <span style="color: #DB7A93;">support</span> this element! </a>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>  
</div>
  {% endif %}

  {% if "Opposes" not in relations %}
  <div class="alert alert-dismissible fade show" role="alert" style="border-color: #376E70;">
    <a href="{{ url_for('Arguments.createArgument', element = element.id, rel='Opposes' ) }}" style="color: #376E70;" > <i class="far fa-plus-square"></i> Be the first to <span style="color: #DB7A93;">oppose</span> this element! </a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>  

  </div>
    {% endif %}

{% if error %}
<div class="alert text-light" role="alert" style="background-color: #DB7A93;">
    {{ error }}!
  </div>
{% else %}




{% for relation in relations %}
<div class="h4"> Argument(s) that <span style="color: #DB7A93;"> {{relation}} </span> this <span>{{elementLabel[0]}}</span></div>
{% for argument in arguments %}
{% if argument['relation'] == relation %}

<div class="card my-3" style="border-color: #DB7A93;">
  <div class="card-header bg-transparent" style="border-color: #DB7A93;">

    <div class="d-flex justify-content-end mb-1">
        <a class="btn btn-sm" style="border: 1px solid #DB7A93;" data-bs-toggle="collapse" data-bs-target="{{'#'~'x'~argument['id']}}" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-bars"></i> 

        </a>
    </div>

<div class="collapse" id="{{'x'~argument['id']}}"">
 
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text bg-transparent border-0">Argument ID:</span>
      </div>
      <input type="text" class="form-control bg-transparent border-0" id="{{argument['id']}}" value='{{ argument["id"] }}' readonly>
      <div class="input-group-append">
        <button type="button" class="btn btn-sm" style="border: 1px solid #DB7A93;" onclick=copyToClipboard({{ argument['id']|safe }});>Copy argument ID</button>
      </div>
    </div>
    <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text bg-transparent border-0">Relation ID:</span>
        </div>
        <input type="text" class="form-control bg-transparent border-0" id="{{ argument['relationID'] }}" value='{{ argument["relationID"] }}' readonly>
        <div class="input-group-append">
          <a href="{{ url_for('Arguments.showArguments', elementID = argument['relationID']) }}" class="btn btn-sm " style="border: 1px solid #DB7A93;">Open relation page</a>
          <button type="button" class="btn btn-sm" style="border: 1px solid #DB7A93;" onclick=copyToClipboard({{ argument['relationID']|safe }});>Copy relation ID</button>
        </div>
      </div>
  </div>
  </div>
    <div class="card-body" style="background-color: #DB7A93;">
    <a href="{{ url_for('Arguments.showArguments', elementID = argument['id'] ) }}" class="card-text text-light">{{ argument['title']  }}</a>
  </div>
  <div class="card-footer bg-transparent" style="border-color: #DB7A93;">
    <small class="text-muted"> Created on {{ argument['date'] }} by {{argument['author']}}</small>
  </div>
</div>
{% endif %}
{% endfor %}

{% if not loop.last %}
  <hr style="color: #376E70; height: 1pt;">
{% endif %}

{% endfor %}

{% endif %}

{% endblock %}